# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file
.terraform.lock.hcl

# Sensitive vars
*.tfvars
*.tfvars.json

# IDE / OS
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db